@import "tailwindcss";
@plugin "flyonui" {
 themes: light --default, corporate;
}
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";

body {
  font-family: Arial, Helvetica, sans-serif;
}
