services:
  postgres:
    image: postgres:latest
    container_name: cesta_galega_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - cesta_galega_network

volumes:
  postgres_data:

networks:
  cesta_galega_network:
    driver: bridge